.pf-x-c-tooltip-parent:hover .pf-x-c-tooltip,
.pf-x-c-tooltip-parent:focus .pf-x-c-tooltip {
  visibility: visible;
}

.pf-x-c-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.pf-x-c-tooltip.pf-m-left {
  top: 0;
  right: calc(100% + (var(--pf-c-tooltip__arrow--Width) / 2));
}

.pf-x-c-tooltip.pf-m-right {
  top: 0;
  left: calc(100% + (var(--pf-c-tooltip__arrow--Width) / 2));
}

.pf-x-c-tooltip.pf-m-top {
  bottom: calc(100% + (var(--pf-c-tooltip__arrow--Height) / 2));
  transform: translateX(-50%);
  left: 50%;
}

.pf-x-c-backdrop--nested {
  padding-top: var(
    --pf-c-page__header--MinHeight
  ); /* TODO: This does depend on the navbar being no higher than the min value; in the future, object queries might be used. */
}
